* {box-sizing: border-box;}

@font-face {
    font-family: noah;
    src: url(Noah/WEB/Noah-Regular.woff);
}
.content {
    font-family: noah;
    padding-left: 16px; 
    padding-top: 70px;
    padding-right: 16px; 
    margin-bottom: 40px;
    min-height: 100%;
}

.content:after{
    content: "";
    display: block;
}

.banner {
    height:auto;
    margin-left: -16px;
 
 }

h2 {
    text-align: center;
}



.classic h2 {
    margin-left: 20px;
    margin-top: -310px;
}

.themed h2{
    margin-left: 20px;
    margin-top: -310px;
}

.custom h2{
    margin-left: 20px;
    margin-top: -310px; 
}

p {
    line-height: 1.8;
}

.plast {
    padding-bottom: 300px;
}
